* {
    margin: 0;
    padding: 0;
    font-family: jostix;
	box-sizing: border-box;
}

body {
	background-color: black;
}

@font-face {
	font-family: jostix;
	src: url(joystix_monospace.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* tela */

.tela {
	width: 100%;
	height: auto;
}

/* header */

.header {
	width: 100%;
	height: auto;
	position: sticky;
	top: 0;
	background-color: rgba(30, 30, 30);
	z-index: 1;
}

.titulo {
	float: left;
	padding: 5px;
}

.titulo.logo {
	width: 60%;
}
.glitch{

	text-shadow: 0.05em 0 0 magenta,
				-0.025em -0.10em 0 yellow,
				0.025em 0.06em 0 cyan;

	animation: glitch 170ms infinite;
}
.glitch.subt {
	font-size: 28px;
	margin-top: 10px;
	color: black;
}
.glitch{

	text-shadow: 0.05em 0 0 magenta,
				-0.025em -0.10em 0 yellow,
				0.025em 0.06em 0 cyan;

	animation: glitch 170ms infinite;
}
@keyframes glitch {
	0%{
		text-shadow:0.05em 0 0 magenta,
					-0.025em -0.025em 0 yellow,
					-0.025em 0.05em 0 cyan;
	}
	15%{
		text-shadow:0.05em -0.025em 0 magenta,
					-0.025em -0.025em 0 yellow,
					-0.05em -0.05em 0 cyan;
	}
	50%{
		text-shadow:0.25em 0.05em 0 magenta,
					0.05em 0 0 yellow,
					0 -0.25em 0 cyan;
	}
	100%{
		text-shadow:-0.025em 0 0 magenta,
					-0.025em -0.025em 0 yellow,
					-0.025em -0.05em 0 cyan;
	}

}
.titulo.menu {
	width: 40%;
}

.header::after {
	content: "";
	display: table;
	clear: both;
}

.logo p {
	text-align: center;
	font-size: 25px;
	color: white;
}

.menu {
	padding: 1%;
}

.menu a {
	text-decoration: none;
	color: yellow;
	margin-left: 1%;
	margin-right: 1%;
	text-decoration: none;
	transition: color 0.07s;
}
.menu a:hover{
	color: magenta;
}

@media screen and (max-width:1000px) {
    .titulo.menu, .titulo.logo {
        width: 100%;
    }
    .logo h1 {
		font-size: medium;
	}
	.menu a {
        font-size: medium;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
}

/* conteudo :3 */

.conteudo {
	width: 100%;
	height: auto;
}

.gatinho {
	float: left;
	padding: 5px;
}
.text.ciano{
	color: cyan;
}
.text.amarelo{
	color: yellow;
}
.text.magenta{
	color: magenta;
}
.text.dark{
	color: black;
}

.gatinho.left {
	width: 10%;
	margin-top: 15%;

}

.gatinho.center {
	width: 80%;
	color: #fff;

}

.gatinho.right {
	width: 10%;
	margin-top: 15%;
    transform: scaleX(-1);

}

.conteudo::after {
	content: "";
	display: table;
	clear: both;
}

.gatinho img {
	display: block;
	margin: auto;
	height: auto;
	width: auto;
}

.texto p {
	color: white;
	text-align: justify;
	margin: 2%;
}

@media screen and (max-width:1000px) {
	.gatinho.left, .gatinho.right img {
		display: none;
	}
	.gatinho.center {
		width: 100%;
	}
}

/* Imagens e texto do conteudo */
.imagens.left{
	float: left;
	padding: 5px;
	width: 60%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.imagens.right{
	float: right;
	height: auto;
	width: 40%;
	margin-bottom: 50px;
	
}
.imagens{
	float: left;
}
.imagenscenter{
	width: 100%;
	height: auto;
}
.tudo{
	width: 100%;
}
@media screen and (max-width:1000px) {
	.imagens.left, .imagens.right{
		width:100%;
	}
	.gatinho.center {
		width: 100%;
	}
}
/* Imagens e texto do conteudo */
.banner{
	margin: auto;
	display: block;
}

/*Comentarios*/

.comentarios{
	width: 80%;
	margin: auto;
	
}
.comment {
	float: left;

}
.comment.nometurma{
	width: 40%;
}
.comment.comentario{
	width: 60%;
}

h3{
	margin-top: 10px;
}
.text p{
	margin-top: 30%;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	color: black;
}
textarea{
	resize: none;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}
.coment{
	width:	80%;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
}
/* scroll bar */
::-webkit-scrollbar {
	width: 3px;
  }
  
  ::-webkit-scrollbar-track {
	background: #303030; 
  }
   
  ::-webkit-scrollbar-thumb {
	background: cyan; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: magenta; 
  }
footer{
	width: 100%;
	height: auto;
	padding: 1%;
	background-color: rgb(30,30,30);
	bottom: 0;
}
footer>p{
	color: #fff;
	text-align: center;
}
@media screen and (max-width:1000px) {
	.comentarios		{
		width: 100%;
	}
	.comment.nometurma	{
		width: 100%;
	}
	.comment.comentario	{
		width: 100%;
	}
}
